@tailwind base;
@tailwind components;
@tailwind utilities;



.gradient-text {
    background: linear-gradient(90deg, #03001e 0%, #7303c0 33%, #ec38bc 66%, #fdeff9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-color {
    background: linear-gradient(90deg, #7b7979 0%, #6776c2 42%, #3f51b5 57%, #673ab7 73%, #7a4acf 95%);
}

.pink {
    color: #ad5389;
}

.card-color {
    background: linear-gradient(90deg, #3762ff 0%, #f5f5f5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-color {
    background: radial-gradient(circle, #8a4af3 0%, #673ab7 44%, #0e1d70 47%, #896f76 62%, #ff5722 73%, #e91e63 87%, #f44336 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-text {
    background: radial-gradient(circle, #8a4af3 0%, #673ab7 44%, #0e1d70 47%, #896f76 62%, #ff5722 73%, #e91e63 87%, #f44336 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.athelete-text {
    background: linear-gradient(90deg, #ff0057 0%, #673ab7 34%, #3f51b5 40%, #ff5722 68%, #e91e63 80%, #f44336 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: black;
}

@media (max-width: 1080px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left1 {
        display: flex;
        gap: 48px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5px;
    }

    .footerItem {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .right {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 720px) {

    .left1,
    .footerItem {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .footerItem ul {
        padding: 0;
    }
}

@media (max-width: 815px) {
    .heading {
        font-size: 2.5rem;
        text-align: left;
    }

    .athelete {
        font-size: 1.25rem;
        text-align: left;
    }

    .datas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .data1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 480px) {
    .login {
        font-size: 2.5rem;
    }

    .heading {
        font-size: 2rem;
        text-align: left;
    }

    .athelete {
        font-size: 1rem;
        text-align: center;
    }

    .buttons {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}

@media (max-width: 390px) {
    .athelete {
        font-size: 0.875rem;
        text-align: center;
    }
}

@media (max-width: 380px) {
    .datas {
        height: 90vh;
    }
}

@media (max-width: 365px) {
    .right {
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
    }

    .joins {
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;

    }
}